
* {
    font-family: 'PT Sans', sans-serif;
}

.mail{
    text-align: center;
}

.mail > h1 {
    font-size: 3rem;
    color: rgb(1, 2, 77);
}

.mail > h3 
{
    font-size: 1.5rem;
    color: rgb(70, 70, 70);
    padding: 1rem;
}

.mail > p {
    font-size: 1.5rem;
    color: rgb(70, 70, 70);
}

.footer{
    text-align: left;
}

.UZlogo{
    width: 13rem;
    height: 5rem;
}

.imgBiblio{
    width: 25rem;
    border-radius: 5px 5px 5px 5px;
}

.a-btn--outline2{
    text-decoration:none;
    background-color: transparent;
    font-size: 1.5rem;
    color: rgb(70, 70, 70);
    padding: 6px 12px;
    margin-left: 5px;
    margin-right: 5px;
    width: 9rem;
    height: 4rem;
    border: 1px solid rgb(70, 70, 70);
    transition: all 1s ease-out;
    border-radius: 5px 5px 5px 5px;
}

.a-btn--outline2:hover{
    text-decoration:none;
    transition: all 1s ease-out;
    background-color: rgb(1, 2, 77);
    color: #ffffff;
    border: 1px solid rgb(1, 2, 77);
    font-size: 1.5rem;
    padding: 6px 12px;
    width: 9rem;
    height: 4rem;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px 5px 5px 5px;
}